.map-container { 
    position: absolute;
    width: 50%;
    height : 500px;
    top: 20%;
    bottom: 10%;
    left: 25%;
    right: 20%;
}
  
  .sidebarStyle {
    display: inline-block;
    position: absolute;
    top: 20%;
    left: 25%;
    margin: 10px;
    background-color: #757171;
    color: #ffffff;
    z-index: 1 !important;
    padding: 6px;
    font-weight: bold;
  }
  .drop {
    position: absolute;
    width:50%;
    top: 12.2%;
    left: 25%;
    right: 20%;
  }
  .selectmenu {
    position: absolute;
    width:50%;
    top: 12.2%;
    left: 25%;
    right: 20%;
  }